body {
    background-color: #736c6c;
}

header {
    border: 1px solid black;
    color: rgb(44, 25, 25);
}

#header-div {
    border: 1px solid red;
}

nav {
    border: 3px dotted white;
}

#main-body {
    border: 3px solid white;
}

#body-section {
    border: 2px solid red;

    h1 {
        border: 1px black solid;
    }
}

// #header-h4 {
//     background: white;
// }

// #header-div-h3 {
//     background: white;
// }

// #navbar-h2 {
//     background: white;
// }

// #navbar-div-h1 {
//     background: white;
// }